* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo img {
    width: 150%;
    height: 74px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: linear-gradient(to right, #d4145a, #fbb03b, #f0ef83);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 20px;
    font-family: oswald, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#navbar {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.nav-link:hover {
    background: linear-gradient(to right, #dcda6f, #ff7eb9);
    text-shadow: 0 0 5px rgba(255, 87, 51, 0.6);
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.2s;
    transform: scale(1.05);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(7, 7, 7);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(to right, #f85777, #f0ef83);
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}
