body {
  background: linear-gradient(135deg, #1a1a1a, #2D2D2D, #020f26);

  color: white;
  font-family: 'Poppins', sans-serif;
}


/*.App {
  background: linear-gradient(to right, #b31217, #e52d27);
  background: linear-gradient(to right, #f2994a, #f2c94c);
  
  color: #00695C;
  color: #B2DFDB;
  color: #FF7043;

  color:#C62828;
  color: #FBE9E7;
  color: #FFAB00;

  color:#A0E7E5;
  color: #a5f3bc;
  color: #FBE7C6;

  
}*/